<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fitnutro">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FitNutro">
        <activity android:name=".WaterIntakeCalculator"
            android:label="Daily Water Intake Calculator"
            android:parentActivityName=".WelcomeToTimetablePage"/>
        <activity android:name=".UpdateTimetable"
            android:label="UPDATE DETAILS"
            android:parentActivityName=".Timetable" />
        <activity android:name=".Adddetails"
            android:label="ADD DETAILS"
            android:parentActivityName=".Timetable"/>
        <activity android:name=".Timetable"
            android:label="WORKOUT TIMETABLE"
            android:parentActivityName=".WelcomeToTimetablePage" />
        <activity android:name=".WelcomeToTimetablePage" />
        <activity
            android:name=".WelcomePage"
            android:label="WELCOME TO FITNUTRO"
            android:parentActivityName=".StartFitnutro" />
        <activity
            android:name=".StartFitnutro"
            android:label="FITNUTRO">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>